<div class="men3">
    <div class="login-div3 fixed">
        
        <div class="row center-align">
          <img src="assets/img/user1.jpg" class="logo responsive-img">
          <h5>Lista de consultas</h5>
          
        </div>
<table>
 
  <tr>
    <th>ABSCESO AMEBIANO DEL CEREBRO:</th>
    <th>Doctor Profesor patricio</th>
    <th>2020-02-13</th>
    <th><a class="sidenav-close" routerLink="/ver">ver..</a></th>
  </tr>


  <tr>
    <th>AMEBIASIS CUTÁNEA</th>
    <th>Doctor Profesor patricio</th>
    <th>2020-02-13</th>
    <th><a href="">ver..</a></th>
  </tr>

  <tr>
    <th>INFECCION AMEBIANA DE OTRAS</th>
    <th>Doctor Profesor patricio</th>
    <th>2020-02-13</th>
    <th><a href="">ver..</a></th>
  </tr>

  <tr>
    <th>AMEBIASIS, NO ESPECIFICADA</th>
    <th>Doctor Profesor patricio</th>
    <th>2020-02-13</th>
    <th><a href="">ver..</a></th>
  </tr>

  <tr>
    <th>BALANTIDIASIS</th>
    <th>Doctor Profesor patricio</th>
    <th>2020-02-13</th>
    <th><a href="">ver..</a></th>
  </tr>

  <tr>
    <th>GIARDIASIS(LAMBLIASIS)</th>
    <th>Doctor Profesor patricio</th>
    <th>2020-02-13</th>
    <th><a href="">ver..</a></th>
  </tr>

  <tr>
    <th>CÓLERA DEBIDO A VIDRIO CHOLERAE 01, BIOTIPO CHOLAREA</th>
    <th>Doctor Profesor patricio</th>
    <th>2020-02-13</th>
      <th><a href="">ver..</a></th>
  </tr>


</table>
</div>