<header>
    <nav class="nav-wrapper blue">
      <div class="container">
        <a href="#" class="brand-logo valign-wrapper">
          <img class="responsive-img left z-depth-2 hide-on-small-only" src="assets/img/logo.png"
            alt="Logo de pagina">Ixtlilton</a>
        <!--desaparesca en bisp grandes-->
        <a href="#" class="sidenav-trigger" data-target="mobile-menu">
          <i class="material-icons">menu</i>
        </a>
        <!--Desaparece enlaces mobil-->
        <ul class="right hide-on-med-and-down">
          <li><a href="#acerca-de">Acerca de</a></li>
          <li><a href="#Objetivo">Objetivo</a></li>
          <li><a href="#Beneficios">Beneficios</a></li>
          <li><a routerLink="/login">Iniciar</a></li>
          <li><a routerLink="/registro">Registrate</a></li>
          <li><a href="#" class="tooltipped btn-floating btn-small indigo darken-4" data-position="bottom"
              data-tooltip="Instagram">
              <i class="fab fa-instagram"></i>
            </a></li>
          <li><a href="#" class="tooltipped btn-floating btn-small indigo darken-4" data-position="bottom"
              data-tooltip="Facebook">
              <i class="fab fa-facebook"></i>
            </a></li>
          <li><a href="#" class="tooltipped btn-floating btn-small indigo darken-4" data-position="bottom"
              data-tooltip="Twitter">
              <i class="fab fa-twitter"></i>
            </a></li>
        </ul>


        <ul class="sidenav grey lighten-2" id="mobile-menu">
          <li><a class="sidenav-close" href="#acerca-de">Acerca de</a></li>
          <li><a class="sidenav-close" href="#Objetivo">Objetivo</a></li>
          <li><a class="sidenav-close" href="#Beneficios">Beneficios</a></li>
          <li><a class="sidenav-close" routerLink="/login">Iniciar</a></li>
          <li><a class="sidenav-close" routerLink="/registro">Registrate</a></li>
        </ul>



      </div>
    </nav>
  </header>
