<div class="container section">

    <a href="" class="sidenav-trigger btn "  data-target="menu-side">
        <i class="responsive material-icons">menu</i>
    </a>
    <!---->


<ul class="sidenav" id="menu-side">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="assets/img/fondop.jpg" alt="">
            </div>
            <a href="#">
                <img src="assets/img/user1.jpg" alt="" class="circle">
            </a>
            <a href="#">
                <span class="name white-text">Mayumi Magali Alcantara Mujica</span>  
            </a> 
            <a href="#">
                <span class="email white-text">Mayumi@hotmail.com</span>  
            </a> 
        </div>
    </li>
    <!--contenido-->
    <li>
        <a class="sidenav-close" routerLink="/paciente">
            <i class="material-icons">account_box</i>
            Informacion Paciente
        </a>
    </li>
    <!---->
    <div class="divider"></div>
        <!--contenido-->
        <li>
            <a class="sidenav-close" routerLink="/consultas">
                <i class="material-icons">assignment</i>
                Consultas
            </a>
        </li>
        <!---->
        <div class="divider"></div>
            <!--contenido-->
    <li>
        <a class="sidenav-close" routerLink="/emergencias">
            <i class="material-icons">create_new_folder</i>
            Emergencias
        </a>
    </li>
    <!---->
    <div class="divider"></div>
    <!--contenido-->
<li>
<a class="sidenav-close" routerLink="/codigo-qr">
    <i class="sidenav-close" class="material-icons">aspect_ratio</i>
    Codigo Qr
</a>
</li>
</ul>
</div>