
    
    
    
    
    <div class="men2">
    <div class="login-div1 fixed">
        
        <div class="row center-align">
          <img src="assets/img/user1.jpg" class="logo responsive-img">
          <h5>Informacion Paciente</h5>
          
        </div>
<table>
  <tr>
    <th>CURP:</th>
    <th>AAMM770826MMCLJY42</th>
  </tr>

  <tr>
    <td>Nombre:</td>
    <td>Mayumi Magali Alcantara Mujica</td>
  </tr>

  <tr>
    <td>Fecha de nacimiento</td>
    <td>1977-08-26</td>
  </tr>

  <tr>
    <td>Sexo</td>
    <td>Femenino</td>
  </tr>

  <tr>
    <td>Tipo de sangre</td>
    <td>0+</td>
  </tr>

  <tr>
    <td>Dispacidad</td>
    <td>Ninguna</td>
  </tr>

  <tr>
    <td>Nacionalidad</td>
    <td>MEX</td>
  </tr>

  <tr>
    <td>Contacto de emergencia 1</td>
    <td>Aldo luna/cel: 5578563465</td>
  </tr>

  <tr>
    <td>Contacto de emergencia 2</td>
    <td>areli mejia/cel: 5589567436</td>
  </tr>

  <tr>
    <td>Domicilio</td>
    <td>México, tlahuac, Porvenir #140 Edif 2-c Dep 401,13220</td>
  </tr>

</table>
</div>
</div>
    