
    <div class="men4">
    <div class="login-div3 fixed">
        
        <div class="row center-align">
          <img src="assets/img/user1.jpg" class="logo responsive-img">
          <h5>Lista de consultas</h5>
          
        </div>


        <p class="indigo-text text-darken-4">2020-02-13</p>
        <p class="flow-text indigo-text text-darken-4">Médico: Doctor Profesor Patricio</p>
        <p class="flow-text indigo-text text-darken-4">Diagnostico: ABSCESO AMEBIANO DEL CEREBRO</p>



        <div class="col s12 l6 offset-l2 center-align">
            <!-- tabs -->
            <ul class="tabs">
              <li class="tab col s6"><a href="#Medicinas" class="active indigo-text text-darken-4">Medicinas </a></li>
              <li class="tab col s6"><a href="#Recomendacion" class="indigo-text text-darken-4"> Recomendacion </a></li>
              <li class="tab col s6"><a href="#Fotos" class="indigo-text text-darken-4"> Fotos </a></li>
            </ul>
    <!--medicinas-->
    <div id="Medicinas" class="col s12">
        <!--tabla1-->
<table class="tabla1">
<tr>
    <th>Nombre:</th>
    <td>Paracetamol 200g</td>
    
  </tr>
  <tr>
    <th>Dosis:</th>
    <td>1 tableta cada 8 horas</td>
    
  </tr>
  <tr>
    <th>Fecha inicio:</th>
    <td>2020-03-25</td>
    
  </tr>
  <tr>
    <th>Fecha fin:</th>
    <td>2020-03-27</td>
  </tr>
  <tr>
    <th>Indicaciones adicionales:</th>
    <td>Si persiste el dolor acudir nuevamente a cita medica</td>
  </tr>
</table>
<br>
<!--tabla2-->
<table class="tabla1">
<tr>
    <th>Nombre:</th>
    <td>Paracetamol 1 300g</td>
    
  </tr>
  <tr>
    <th>Dosis:</th>
    <td>2 tableta cada 8 horas</td>
    
  </tr>
  <tr>
    <th>Fecha inicio:</th>
    <td>2020-03-25</td>
    
  </tr>
  <tr>
    <th>Fecha fin:</th>
    <td>2020-03-27</td>
  </tr>
  <tr>
    <th>Indicaciones adicionales:</th>
    <td>Si persiste el dolor acudir nuevamente a cita medica</td>
  </tr>
</table>

    </div>
    <div id="Recomendacion" class="col s12">
        <p class="flow-text indigo-text text-darken-4">Cuidado extremo</p>
      </div>

      <div id="Fotos" class="col s12">
          
          <div class="row">
              <div class="col s12 m6 l4">
                  <img class="materialboxed responsive-img card" width="250" src="assets/img/rad.jpg">
              </div>
              <div class="col s12 m6 l4">
                  <img class="materialboxed responsive-img card" width="250" src="assets/img/rad1.jpg">
              </div>
              <div class="col s12 m6 l4">
                  <img class="materialboxed responsive-img card" width="250" src="assets/img/rad2.jpg">
              </div>
              <div class="col s12 m6 l4">
                  <img class="materialboxed responsive-img card" width="250" src="assets/img/rad3.jpg">
              </div>
              <div class="col s12 m6 l4">
                  <img class="materialboxed responsive-img card" width="250" src="assets/img/rad4.jpg">
              </div>
          </div>

          
        </div>
     
    
          </div>

    </div>
</div>


    
    
