<header>
    <nav class="nav-wrapper blue">
      <div class="container">
        <a href="#" class="brand-logo center">
          <img class="responsive-img left z-depth-2 hide-on-small-only" src="assets/img/logo.png"
            alt="Logo de pagina">Ixtlilton</a>
         <!--desaparesca en bisp grandes-->   
        <a href="#" class="sidenav-trigger" data-target="mobile-menu">
          <i class="material-icons">menu</i>
        </a>
        <!--Desaparece enlaces mobil-->
        <ul class="right hide-on-med-and-down">

          <li><a href="index.html">Inicio</a></li>

        </ul>


        <ul class="sidenav grey lighten-2" id="mobile-menu">
          <li><a href="index.html">Ixtlilton</a></li>
          
        </ul>



      </div>
    </nav>
  </header>
