

    <!--titulo de blog post-->
    <section id="Beneficios">
      <div class="row">
        <div class="col s12">
          <h2>Beneficios de Ixtlilton</h2>
        </div>
      </div>

    </section>

    <section class="section">
      <div class="row">
        <!--borrado articulo-->
        <div class="col m8 text-darken-4">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia voluptates vel corrupti minima
            numquam ea eligendi, corporis assumenda, nulla cupiditate earum tenetur nobis voluptatibus
            tempora fugiat iure libero, a veniam!
            Accusantium impedit amet in numquam, officiis qui optio, ab adipisci a ut enim, magni nihil
            harum vero cum nemo error animi quisquam distinctio inventore nam. Ea in dolorem sequi animi?
            Ex corrupti eaque impedit iure laudantium est assumenda facere! Minus quod repellendus culpa,
            incidunt suscipit rem id eum nemo unde tempore sunt amet porro modi similique consectetur
            dolorem dolorum accusamus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            voluptas iure cum numquam, assumenda ipsum asperiores facilis sequi, iusto vero vitae ratione
            aliquid iste commodi laudantium! Corporis autem delectus deserunt!Molestias quos cupiditate
            quasi labore. Doloremque hic dolorum provident, quas dolore obcaecati iusto saepe labore placeat
            rem, officiis ab veritatis odio earum consequatur corrupti, officia unde cum adipisci fuga
            aliquid?</p>

        </div>

        <!--seccion de cards-->
        <section>
          <div class="row">
            <!--columnas para pequeñas medianas y grandes pantalles el numero de columnas son diferentes-->
            <!--1 card-->
            <article class="col s12 m6 14">
              <div class="card">
                <!--la imagen de la card-->
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/img/ayuda.gif">
                </div>
                <!--contenido abajo de la imagen-->
                <div class="card-content">
                  <!--card-title estilo al texto,,,grey-text es color del texto sera gris,,,,activator activa el boton-->
                  <span class="card-title grey-text activator text-darken-4">Emergencias<i
                      class="material-icons right">more_vert</i></span>
                </div>
                <!--Informacion de la card-->
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">En caso de emergencias<i
                      class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.
                  </p>
                  <!--boton de ir-->
                  <!--al dar ir nos mandara a post-->
                  <!--post.html-->
                  
                </div>

              </div>

            </article>
            <!--2 card-->
            <article class="col s12 m6 14">
              <div class="card">
                <!--la imagen de la card-->
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/img/paciente.jpg">
                </div>
                <!--contenido abajo de la imagen-->
                <div class="card-content">
                  <!--card-title estilo al texto,,,grey-text es color del texto sera gris,,,,activator activa el boton-->
                  <span class="card-title grey-text activator text-darken-4">Portabilidad<i
                      class="material-icons right">more_vert</i></span>
                </div>
                <!--Informacion de la card-->
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Comodidad de uso<i
                      class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.
                  </p>
                  <!--boton de ir-->
                  <!--al dar ir nos mandara a post-->
                  <!--post.html-->
                  
                </div>

              </div>

            </article>
            <!--3 card-->
            <article class="col s12 m6 14">
              <div class="card">
                <!--la imagen de la card-->
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/img/historial.jpg">
                </div>
                <!--contenido abajo de la imagen-->
                <div class="card-content">
                  <!--card-title estilo al texto,,,grey-text es color del texto sera gris,,,,activator activa el boton-->
                  <span class="card-title grey-text activator text-darken-4">Historial medico<i
                      class="material-icons right">more_vert</i></span>
                </div>
                <!--Informacion de la card-->
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Tu historial medico<i
                      class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.
                  </p>
                  <!--boton de ir-->
                  <!--al dar ir nos mandara a post-->
                  <!--post.html-->
              
                </div>

              </div>

            </article>
            <!--4 card-->
            <article class="col s12 m6 14">
              <div class="card">
                <!--la imagen de la card-->
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/img/medico.jpg">
                </div>
                <!--contenido abajo de la imagen-->
                <div class="card-content">
                  <!--card-title estilo al texto,,,grey-text es color del texto sera gris,,,,activator activa el boton-->
                  <span class="card-title grey-text activator text-darken-4">Consultas<i
                      class="material-icons right">more_vert</i></span>
                </div>
                <!--Informacion de la card-->
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Historial de consultas<i
                      class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.
                  </p>
                  <!--boton de ir-->
                  <!--al dar ir nos mandara a post-->
                  <!--post.html-->
                  
                </div>

              </div>

            </article>
          </div>
        </section>
  