<section class="container section scrollspy">
    <div class="row">
      <div class="col s12 l4">
        <img src="assets/img/911.jpg" alt="" class="responsive-img materialboxed">
      </div>
      <div class="col s12 l6 offset-l1">
        <h2 class="indigo-text text-darken-4">911</h2>
        <p ALIGN="justify">(Atiende incendios, explosiones, derrumbes, inundaciones, entre otras cosas). Está disponible los 365 días del año y las 24 horas.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l4 offset-l1 push-l7">
        <img src="assets/img/locatel.jpg" alt="" class="responsive-img materialboxed">
      </div>
      <div class="col s12 l6 offset-l1 pull-l5 right-align">
        <h2 class="indigo-text text-darken-4">Locatel:5658 1111</h2>
        <p ALIGN="justify">Locatel es una línea que te informa acerca de las instituciones de procuración y administración de justicia y policiacas, sobre 
            administraciones hospitalarias y asistenciales, sean federales, estatales, municipales o privadas.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l4">
        <img src="assets/img/bomberos.jpg" alt="" class="responsive-img materialboxed">
      </div>
      <div class="col s12 l6 offset-l1">
        <h2 class="indigo-text text-darken-4">Bomberos:068 o 5768 2532 o 068</h2>
        <p ALIGN="justify">El Heroico Cuerpo de Bomberos de la Ciudad de México tiene la responsabilidad de proteger a los ciudadanos, atendiendo primordialmente el control y extinción de incendios, así como técnicas
             de rescate ante todo tipo de accidentes.</p>
      </div>
    </div>
  </section>
